/* Roots of the CSS code and static properties */ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --back_blue: #0065FC;
    --light-blue: #DEEBFF;
    --back_grey: #F2F2F2;
}

body {
    margin: 0 auto;
    max-width: 1400px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    margin-bottom: 50px;
}

.boldText {
    font-weight: bold;
    color:black;
}

.greyBackground {
    background-color: var(--back_grey)
}

.blueBackground {
    background-color: var(--back_blue);
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noBorder {
    border: none;
}

.boxesRadius {
    border-radius: 20px;
}

.greyBorder {
    border: solid 1px;
    border-radius: 15px;
    border-color: var(--back_grey);
}

.blue {
    color: var(--back_blue);
}

.grey {
    color: var(--back_grey);
}


/* Css code for the activities part */

.activities_box {
    display: flex;
    flex-direction: column;
}

.activities_box h2 {
    margin-bottom: 20px;
}

.activities_card_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activities_card {
    overflow: hidden; 
    margin: 0;
    width: 22%;
    height: 450px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    cursor: pointer;
}

.activities_card_img {
    height: 90%;
}

.activities_informations_container {
    height: 10%;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}