* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --back_blue: #0065FC;
    --light-blue: #DEEBFF;
    --back_grey: #F2F2F2;
}

body {
    margin: 0 auto;
    max-width: 1400px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    margin-bottom: 50px;
}

.boldText {
    font-weight: bold;
    color:black;
}

.greyBackground {
    background-color: var(--back_grey)
}

.blueBackground {
    background-color: var(--back_blue);
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noBorder {
    border: none;
}

.boxesRadius {
    border-radius: 20px;
}

.greyBorder {
    border: solid 1px;

    border-color: var(--back_grey);
}

.blue {
    color: var(--back_blue);
}

.grey {
    color: var(--back_grey);
}

/* Filter part CSS code */ 

.filter_section {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.filter_section div {
    display: flex;
    align-items: center;
    height: 40px;
    width: auto;
    margin: 25px;
    border-radius: 20px;
    border-width: 3px;
}

.filter_elements {
    width: 100%;
}

.filter_elements i {
    display: flex;
    margin: 15px;
    color: var(--back_blue)
}

.filter_elements h3 {
    margin-right: 15px;
}

.filter_elements:hover {
    background-color: #DEEBFF;
}