/* Roots of the CSS code and static properties */ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


:root {
    --back_blue: #0065FC;
    --light-blue: #DEEBFF;
    --back_grey: #F2F2F2;
}

body {
    margin: 0 auto;
    max-width: 1400px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    margin-bottom: 50px;
}

.boldText {
    font-weight: bold;
    color:black;
}

.greyBackground {
    background-color: var(--back_grey)
}

.blueBackground {
    background-color: var(--back_blue);
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noBorder {
    border: none;
}

.boxesRadius {
    border-radius: 20px;
}

.greyBorder {
    border: solid 1px;

    border-color: var(--back_grey);
}

.blue {
    color: var(--back_blue);
}

.grey {
    color: var(--back_grey);
}

/* Css code for the nav section */

header nav {
    height: 80px;
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    height: 100%;
}

nav div {
    height: 100%;
}

.nav_links {
    display: flex;
}

nav a:hover {
    color: var(--back_blue);
    border-top: solid var(--back_blue);
}

nav a {
    height: 100%;
    margin: 0 20px;
    display: flex;
    align-items: center;
}


nav img {
    object-fit: contain;
    width: 75px;
    height: 20px;
}


/* CSS Code for mobile*/ 

@media (max-width: 768px) {

/* CSS code for the header */ 

    header {
        margin-top: 20px;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
    }

    nav div {
        width: 100%;
    }

    nav a {
        justify-content: center;
        width: 50%;
        height: 60px;
        margin: 0;
    }

    nav a:hover {
        border-top: none;
        border-bottom: solid var(--back_blue);
    }

    nav img {
        margin-bottom: 15px;
    }

}