/* Roots of the CSS code and static properties */ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --back_blue: #0065FC;
    --light-blue: #DEEBFF;
    --back_grey: #F2F2F2;
}

body {
    margin: 0 auto;
    max-width: 1400px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    margin-bottom: 50px;
}

.boldText {
    font-weight: bold;
    color:black;
}

.greyBackground {
    background-color: var(--back_grey)
}

.blueBackground {
    background-color: var(--back_blue);
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noBorder {
    border: none;
}

.boxesRadius {
    border-radius: 20px;
}

.greyBorder {
    border: solid 1px;
    border-radius: 15px;
    border-color: var(--back_grey);
}

.blue {
    color: var(--back_blue);
}

.grey {
    color: var(--back_grey);
}


.search-bar {
    width: 35%;
    margin: 15px 0;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
    border: none;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}


.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: bold
}

.search-button:hover {
    cursor: pointer;
}

form {
    display: flex;
    height: 49px;
    width: 40%
}

form input {
    width: 35%
}

input::placeholder{
    font-size: 15px;
    font-weight: bold;
    color:black;
    padding: 10px;
    border: none;
}

.inputNoActiveBorder:focus {
    outline: none;
}