* {
    font-family: 'Raleway', sans-serif;
}

.flexCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    justify-content: space-between;
}

.greyBackground {
    background-color: #F2F2F2
}

header {
    padding: 1em 2.5em;
}

nav a {
    margin-left: 3em;
}

.noDecorations {
    text-decoration: none;
}

nav img {
    object-fit: contain;
    width: 5em;
    height: 4em;
}

footer {
    display: flex;
    background-color: #F2F2F2;
    margin: 2.5em;
    padding-bottom: 2em;
    justify-content: space-around;
}

.list {
    display: flex;
    flex-direction: column;
}

.list a {
    text-decoration: none;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.list h2 {
    font-size: 1.2em;
}

.search-bar {
    width:350px;
    height: 2em;
    justify-content: flex-start;
}

.search-bar div {
    border: solid 1px;
    height: 100%;
    width: 100%;
}

div.icon {
    justify-content: center;
    width: 5em;
}

.input input {
    height: 80%;
    border-radius: 0.5em;
}

 
