* {
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 1em 2.5em;
}

nav a {
    text-decoration: none;
    margin-left: 3em
}

nav img {
    object-fit: contain;
    width: 5em;
    height: 4em;
}