/* Roots of the CSS code and static properties */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}


:root {
	--back_blue: #0065FC;
	--light-blue: #DEEBFF;
	--back_grey: #F2F2F2;
}

body {
	margin: 0 auto;
	max-width: 1400px;
}

a {
	text-decoration: none;
	color: black;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

header {
	margin-bottom: 50px;
}

.boldText {
	font-weight: bold;
	color: black;
}

.greyBackground {
	background-color: var(--back_grey)
}

.blueBackground {
	background-color: var(--back_blue);
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.noBorder {
	border: none;
}

.boxesRadius {
	border-radius: 20px;
}

.greyBorder {
	border: solid 1px;
	border-color: var(--back_grey);
}

.blue {
	color: var(--back_blue);
}

.grey {
	color: var(--back_grey);
}

/* Css code for the nav section */

header nav {
	height: 80px;
	display: flex;
	align-items: center;
}

nav {
	justify-content: space-between;
	height: 100%;
}

nav div {
	height: 100%;
}

.nav_links {
	display: flex;
}

nav a:hover {
	color: var(--back_blue);
	border-top: solid var(--back_blue);
}

nav a {
	height: 100%;
	margin: 0 20px;
	display: flex;
	align-items: center;
}


nav img {
	object-fit: contain;
	width: 75px;
	height: 20px;
}

/* Css code for the "find a place for your holidays" part*/

.find_a_place h1 {
	margin: 7px 0;
}

.cityCenter p {
	margin-top: 5px;
}

.cityCenter h2 {
	margin-bottom: 5px;
}


/* CSS code for the search bar part */

.search_bar {
	margin: 15px 0;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	border: none;
	border-top-left-radius: 0.7em;
	border-bottom-left-radius: 0.7em;
}


.search-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0px 16px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	font-weight: bold
}

.search-button:hover {
	cursor: pointer;
}

form {
	display: flex;
	height: 49px;
	width: 40%
}

form input {
	width: 194px
}

#button_magnifying_glass {
	display: none;
}

input::placeholder {
	font-size: 15px;
	font-weight: bold;
	color: black;
	padding: 10px;
	border: none;
}

.inputNoActiveBorder:focus {
	outline: none;
}

/* propriété de la partie Rechercher: search-button paddingLeft blueBackground flexCenter noBorder */

.filter_section {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


.filter_elements {
	display: flex;
	align-items: center;
	height: 40px;
	width: auto;
	margin: 20px;
	border-radius: 20px;
	border-width: 3px;
}

.filter_bars {
	display: flex;

}

.filter_elements i {
	font-size: 20px;
	margin: 15px;
	color: var(--back_blue)
}

.filter_elements h3 {
	margin-right: 15px;
}

.filter_elements:hover {
	background-color: #DEEBFF;
}


/* Css code for "i" line */

.info_section {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}


#info_letter {
	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
	border-width: 2px;
	margin-right: 10px;
	font-size: 12px;
}



/* Renting section */

.main_part {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.renting_box {
	width: 67%;
	margin-right: 20px;
	padding: 30px 40px;
}

.renting-title {
	margin-bottom: 20px;
	width: fit-content;
}

.display_more {
	margin-top: 30px;
	font-size: 20px;
	width: fit-content;
}

.display_more:hover {
	cursor: pointer;
}

.Marseille_cards {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.renting_card {
	overflow: hidden;
	margin: 15px 0;
	width: 31%;
	height: 230px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	background-color: white;
	cursor: pointer;
	border: 5px solid white;
}

.renting_card_img {
	height: 60%;
}

.informations_container {
	padding: 5px 15px;
	font-size: 0.9em;
}

.informations_container p {
	margin: 5px 0;
}


/* Popular box */

.popular_box {
	width: 30%;
	padding: 30px 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.popular_card {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.popular_place {
	display: flex;
	overflow: hidden;
	margin: 15px 0;
	width: 100%;
	height: 170px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	background-color: white;
	cursor: pointer;
	border: 5px solid white;
}

.popular_card_img {
	width: 40%;
	height: 100%
}

.popular_informations_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	padding: 10px;
}

.popular_informations_container p {
	margin-top: 10px;
}

.popular_title {
	display: flex;
	justify-content: space-between;
}

.popular_title i {
	color: var(--back_blue);
}

.popular_informations_container h3 {
	font-size: 1em;
}

/* Css code for the activities part */

#activities_in_marseille {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.activities_box {
	display: flex;
	flex-direction: column;
	margin: 60px 0;
}

.activities_box h2 {
	margin-bottom: 20px;
}

.activities_card_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.activities_card {
	overflow: hidden;
	margin: 0;
	width: 22%;
	height: 450px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	background-color: white;
	cursor: pointer;
}

.activities_card_img {
	height: 90%;
}

.activities_informations_container {
	height: 10%;
	display: flex;
	justify-content: flex-start;
	margin-left: 20px;
}


/* Css code of the footer section */

footer {
	display: flex;
	background-color: var(--back_grey);
	padding: 50px;
}

.footer_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 76%
}

.list {
	display: flex;
	flex-direction: column;
}

.list a {
	margin: 5px 0;
}

.list a:hover {
	color: var(--back_blue);
}

.list h2 {
	font-size: 1.2em;
	margin-bottom: 12px;
}

@media(max-width: 991px) {


	body {
		margin: auto 30px;
	}

	/* Css code for the "find a place for your holidays" part*/

	.find_a_place h2 {
		font-size: 22px;
	}

	/* Search bar CSS code for tablet */

	form {
		margin: 15px 0;
		width: 75%;
	}

	/* Filter part CSS code for tablet */

	.filter_section {
		width: 100%;
		flex-wrap: nowrap;
	}

	.filter_section_title {
		margin-right: 15px
	}

	.filter_elements {
		margin: 20px 15px;
	}

	.filter_elements_container {
		gap: 25px;
	}

	.filter_elements i {
		margin: 8px
	}

	.filter_elements h3 {
		font-size: 17px;
	}


	/* Renting in marseille CSS code for tablet */

	.main_part {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.renting_box {
		width: 100%;
		margin: 20px 0
	}

	.display_more {
		font-size: 18px;
	}

	.informations_container {
		font-size: 0.8em;
	}

	/* Popular part CSS code for tablet */


	.popular_box {
		width: 100%;
		margin-top: 30px;
	}

	.popular_card {
		display: flex;
		flex-direction: row;
		width: 100%;
		gap: 10px;
	}

	.popular_place {
		height: 150px;
	}

	.popular_informations_container {
		font-size: 0.9em;
	}

	/* Activities part CSS code for tablet */

	#activities_in_marseille {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	#activities_in_marseille .activities_box h2 {
		margin-bottom: 35px;
	}

	.activities_card {
		height: 260px
	}

	.activities_card_img {
		height: 80%;
	}

	.activities_informations_container {
		height: 20%;
	}


	/* Footer CSS code for tablet */

	.footer_list {
		width: 85%
	}

}

/*CSS code for mobile */

@media (max-width: 767px) {

	body {
		margin: 0;
		scroll-behavior: smooth;
	}


	/* CSS code for the header */

	header {
		margin-top: 20px;
		height: 100px;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.navbar {
		flex-direction: column;
	}

	nav div {
		width: 100%;
		border-bottom: solid 1px var(--back_grey);
	}

	nav a {
		justify-content: center;
		width: 50%;
		height: 60px;
		margin: 0;
	}

	nav a:hover {
		border-top: none;
		border-bottom: solid var(--back_blue);
	}

	nav img {
		margin-bottom: 15px;
	}

	/* Search bar Css code for mobile */

	.find_a_place {
		margin-left: 10px;
	}

	.search_bar {
		width: 100%;
		justify-content: center;
	}

	.search_text {
		display: none;
	}

	#button_magnifying_glass {
		display: contents;
	}


	/* Information line text  */

	.info_section {
		margin: 20px;
	}

	.info_section p {
		padding-top: 13px;
	}

	#info_letter {
		width: 28px;
	}

	/* Filter CSS code */

	.filter_section {
		width: 100%;
		flex-direction: column;
		align-items: normal;
	}

	#filter_section_title {
		margin-bottom: 15px;
		margin-left: 10px;
	}

	.filter_bars {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
		margin: 0 10px;
	}

	.filter_elements {
		width: 47%;
		height: 50px;
		font-size: 10px;
		border-radius: 30px;
		margin: 0;
	}

	.filter_elements h3 {
		font-size: 13px;
	}

	.filter_elements i {
		font-size: 20px;
	}

	/* Section of Renting/popular boxes */

	.main_part {
		flex-direction: column-reverse;
	}

	/* Renting in Marseille  */

	.Marseille_cards {
		flex-direction: column;
		align-items: center;
	}

	.renting_box {
		border-radius: 0;
		background-color: white;
		padding: 0 20px;
	}

	.renting_card {
		width: 100%;
		height: 200px;
		margin: 5px 0;
	}

	.display_more {
		display: none;
	}

	.renting-title {
		margin-bottom: 15px;
	}


	/* Popular part Css code */

	.popular_card {
		flex-direction: column;
	}

	.popular_box {
		border-radius: 0;
		width: 100%;
		padding: 40px 20px;
	}

	.popular_informations_container h3 {
		font-size: 1.1em;
	}

	.popular_title {
		margin-bottom: 12px;
	}


	/* Activities box CSS code  */

	.activities_box {
		width: 100%;
		padding: 0 20px;
	}

	.activities_box h2 {
		margin-bottom: 0;
		width: 130px;
	}

	.activities_card_container {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}

	.activities_card {
		height: 190px;
		width: 100%;
		gap: 50px;
	}


	/*Footer Css code for mobile  */

	footer {
		width: 100%;
		padding-left: 30px;
		padding-top: 45px;
	}

	.footer_list {
		flex-direction: column;
	}

	.list {
		font-size: 0.9em;
		margin-bottom: 25px;
	}

}